<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Decentralized Donations</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
      <div class="collapse navbar-collapse mr-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/campaigns">All Campaigns</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mycampaigns">My Campaigns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campaigns/donated">Donations</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand mr-auto" href="#">Decentralized Donations</a>
    </nav>

    <div class="mx-5 mt-5">
      <a href="#" class="btn btn-secondary btn-balancedtc" data-id="">Check DTC</a>        
    </div>

    <div id="airdrop">
    </div>

    <div class="row my-5" id="register_div">
      <div style="margin-left: 50px;">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal">Create New Campaign</button>
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">New Campaign</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body">
                <form action="">
                  <div class="mb-3">
                    <label class="form-label required" id="ti1">Title</label>
                    <input type="text" class="form-control" id="title" required="required">
                </div>
                  <div class="mb-3">
                    <label class="form-label required" id="de1">Description</label>
                    <textarea class="form-control" id="description" required="required"></textarea>
                  </div>
                    <div class="mb-3">
                        <label class="form-label required" id="t1">Target DTC </label>
                        <input type="number" placeholder="Enter DTC" id="target" required="required">
                    </div>
                    <div class="mb-3">
                      <label class="form-label required" id="t1">Enter vendor address </label>
                      <input type="text" class="form-control" placeholder="Enter address" id="vendor" required="required">
                  </div>
                  
                    <div class="mb-3">
                        <p>2 DTC will be collected as deposit</p>
                    </div>
            </div>

            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Submit">
              <a href="/mycampaigns" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="campaignRows">
    </div>

    <div id="campaignCard" style="display: none;">
      <div class="card mt-4 mx-5 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-description">Description</p>
          <h6 class="card-status">Status</h6>
          <h6 class="card-target" style="text-align: right;">Target</h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25</div>
          </div>
          <a href="#" class="btn btn-danger btn-expire mt-2" data-id="">Expire</a>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.3/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@truffle/contract@4.3.5/dist/truffle-contract.js"></script>
    <script src="../js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  </body>
</html>
